*{
    margin: 0;
    background-color:rgb(20, 170, 178);
    padding: 5px;
    align-content: center;
}
.name{
    width: 40%;
    height: 30%;
    float:left ;
}
.foto{
    width: 50%;
    height: 30%;
    float: right;
}
nav{
    clear: both;
}